.bgItem {
  width: 90%;
  height: 60px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-shrink: 0;

  &:hover {
    transform: scale(1.01);
  }
}

.selected {
  border: 2px solid var(--primary-color);
}

.locked {
  opacity: 0.6;
  pointer-events: none;
}

.bgName {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: 400;
  color: black;
  z-index: 2;
}

.priceTag {
  position: absolute;
  right: 12px;
  top: 50%;
  background: var(--text-item);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: 300;
  color: black;
  z-index: 2;

  img {
    width: 16px;
    height: 16px;
  }
}

.owned {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.selectedTag {
  position: absolute;
  right: 0;
  top: 0;
  width: 53px;
  height: 64px;
}

.selectedIcon {
  width: 100%;
  height: 100%;
}

.selectedCheckMark {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.lockWrapper {
  position: absolute;
  top: 60%;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  gap: 4px;
  line-height: 1;
}

.lockIcon img {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  display: block;
  line-height: 1;
}

.lockNote {
  font-size: 11px;
  font-weight: 400;
  color: #333;
  border-radius: 6px;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1.1;
  max-width: 120px;
}
