@use "./variables";

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
