
:root {
  --background-color: #cee7e8;
  --backgroundSecondary:#b4d7d9;
  --white: #fff;
  --secondaryText:#45888b;
  --text-color: #0e0d0d;
  --text-item:#49efa4;
  --brown: #c95a00;
  --green-bright:#3dc7a0
}
