.menu {
  width: 650px;
  height: 99vh;
  margin-top: 1vh;
  border-radius: 12px;
  background-color: var(--background-color);
  box-shadow:
    0 -20px 40px rgba(13, 47, 113, 0.2),
    25px 0 40px -10px rgba(13, 47, 113, 0.2),
    -25px 0 40px -10px rgba(13, 47, 113, 0.2);
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  overflow: hidden;

  scrollbar-width: none;
  position: relative;
  padding-bottom: 100px;
  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 768px) {
    margin-top: 0;
    height: 100vh;
  }
}

