.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.userInfo {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.avatar {
  width: 29px;
  height: 29px;
  border-radius: 5px;
  object-fit: cover;
}

.username {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: var(--secondaryText);
}

.energy {
  position: relative;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 1px 25px;
  font-weight: 600;
  line-height: 124%;
  border-radius: 4px;

}

.lightningIcon {
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-56%);
  width: 20px;
  height: 29px;
}

.energyAmount {
  margin-left: 0;
}


.title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

.games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;


}

.lightningIcon{
  width: 21px;
  height: 29px;
}

.gameCard {
  background-color: var(--background-secondary);
  padding: 16px;
  border-radius: 12px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
